<body class="min-h-screen justify-content-center">
  <div class="surface-100 p-5 border-round border-2 border-primary h-full monospace-text">
    <header>
      <div class="flex justify-content-left align-items-center ">
        <button pButton class="mb-4" [routerLink]="'/competition'">
          <i class="pi pi-arrow-left"></i>
        </button>
      </div>
    </header>
    <div class="grid p-5 monospace-text">
      <div class="col-3 surface-50 p-3 border-1 border-primary border-round">
        <h2 class="text text-primary text-3xl">About this competition</h2>
        <div class=" justify-content-center monospace-text mb-2 text-2xl">
          ID: <span class="text-color-secondary"> {{ foundCompetition.id }} </span>
        </div>
        <div class=" justify-content-center monospace-text mb-2 text-2xl">
          Name: <span class="text-color-secondary"> {{ foundCompetition.name }} </span>
        </div>
        <div class="justify-content-center monospace-text mb-2 text-2xl">
          Game: <span class="text-color-secondary"> {{ foundCompetition?.game?.name }} </span>
        </div>
        <div class="justify-content-center monospace-text mb-2 text-2xl">
          Region: <span class="text-color-secondary"> {{ foundCompetition?.region?.name }} </span>
        </div>
        <div class="justify-content-center monospace-text mb-2 text-2xl">
          Date inscription limit: <span class="text-color-secondary"> {{ foundCompetition.dateInscriptionLimit | date: 'yyyy-MM-dd HH:mm' }} </span>
        </div>
        <div class="justify-content-center monospace-text mb-2 text-2xl">
          Creator: <span class="text-color-secondary"> {{ foundCompetition?.userCreator?.userName }} </span>
        </div>
        <div class="justify-content-center monospace-text mb-2 text-2xl">
          Amount of teams: <span class="text-color-secondary"> {{ acceptedRegistrationsCount }} / {{ foundCompetition?.maxTeams }} </span>
        </div>
      </div>
      <div class="col-8 ml-5 surface-50 p-3 border-1 border-primary border-round">
        <p-tabView class="monospace-text mt-4">
          <p-tabPanel header="Scoreboard">
            <p-table 
            [value]="foundCompetition?.registrations"
            sortField="points" 
            [sortOrder]="-1">
              <ng-template pTemplate="header">
                <tr>
                  <th class="monospace-text">Team</th>
                  <th class="monospace-text">Points</th>
                </tr>
              </ng-template>
              <ng-template  pTemplate="body" let-registration>
                <tr *ngIf="registration.status === 'accepted'">
                  <td class="text-color-secondary monospace-text">{{ registration.team.name }}</td>
                  <td class="text-color-secondary monospace-text">{{ registration.points }}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabPanel>
          <p-tabPanel header="Matches">
            <p-table [value]="foundCompetition?.matches">
              <ng-template pTemplate="header">
                <tr>
                  <th class="monospace-text">Date</th>
                  <th class="monospace-text">Teams</th>
                  <th class="monospace-text">Round</th>
                  <th class="monospace-text" *ngIf="user?.id === foundCompetition?.userCreator?.id || isAdmin()">Set Winner</th>
                  <th class="monospace-text" *ngIf="user?.id !== foundCompetition?.userCreator?.id && !isAdmin()">Winner</th>
                  <th class="monospace-text" *ngIf="user?.id === foundCompetition?.userCreator?.id || isAdmin()"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-match>
                <tr class="monospace-text">
                  <td>{{ match.matchDate | date:'yyyy-MM-dd' }}</td>
                  <td>{{ match.teams[0]?.name }} vs {{ match.teams[1]?.name }}</td>
                  <td>{{ match.round }}</td>
                  <td *ngIf="user?.id === foundCompetition?.userCreator?.id || isAdmin()">
                    <p-dropdown appendTo="body"
                      *ngIf="match.draw === null"
                      [options]="[{label: match.teams[0]?.name, value: match.teams[0]?.id}, 
                                  {label: match.teams[1]?.name, value: match.teams[1]?.id}, 
                                  {label: 'Draw', value: 0}]" 
                      class="monospace-text p-2" 
                      [(ngModel)]="match.winner"
                      [style]="{width: '100%'}"
                      [placeholder]="'Select winner'"

                      >
                    </p-dropdown>
                   <p *ngIf="match.draw !== null && !match.draw" class="monospace-text">{{match.winner.name}}</p>
                   <p *ngIf="match.draw !== null && match.draw" class="monospace-text">Draw</p>
                  </td>
                  <td *ngIf="user?.id === foundCompetition?.userCreator?.id || isAdmin()">
                    <button *ngIf="match.draw === null" pButton label="Save" class="monospace-text" (click)="saveWinner(match)" ></button>
                  </td>
                  <td *ngIf="user?.id !== foundCompetition?.userCreator?.id && !isAdmin()">
                    <span *ngIf="match.winner?.name !== null">{{ match.winner?.name }}</span>
                    <span *ngIf="match.draw">Draw</span>
                    <span *ngIf="!match.winner?.name && !match.draw">Not set</span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div *ngIf="foundCompetition.matches?.length === 0">
              <p class="monospace-text">No matches available</p>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>

      <div *ngIf="user?.id !== foundCompetition?.userCreator?.id && !isAdmin()"
        class="col-11 m-3 surface-50 p-3 border-1 border-primary border-round">
        <h2 class="text text-primary text-3xl">Inscriptions</h2>
        <p-table [value]="foundCompetition?.registrations">
          <ng-template pTemplate="header">
            <tr>
              <th class="monospace-text">Team</th>
              <th class="monospace-text">Inscription date</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-registration>
            <tr *ngIf="registration.status === 'accepted'">
              <td class="text-color-secondary monospace-text">{{ registration.team.name }}</td>
              <td class="text-color-secondary monospace-text">{{ registration.date | date:'yyyy-MM-dd HH:mm' }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="user?.id === foundCompetition?.userCreator?.id || isAdmin()" class="col-11 m-3 surface-50 p-3 border-1 border-primary border-round">
        <h2 class="text text-primary text-3xl">Inscriptions [creator view]</h2>
        <p-table [value]="foundCompetition?.registrations">
          <ng-template pTemplate="header">
            <tr>
              <th class="monospace-text">Team</th>
              <th class="monospace-text">Inscription date</th>
              <th class="monospace-text">Status</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-registration>
            <tr>
              <td class="text-color-secondary monospace-text">{{ registration.team.name }}</td>
              <td class="text-color-secondary monospace-text">{{ registration.date | date:'yyyy-MM-dd HH:mm' }}</td>
              <td  class="text-color-secondary monospace-text">{{ registration.status }}</td>
              <td>
                <button *ngIf="foundCompetition?.dateStart===null && registration.status === 'pending'" pButton label="Accept" (click)="acceptInscription(registration)" [disabled]="isSaveInProgress" class="monospace-text"></button>
                <button *ngIf="foundCompetition?.dateStart===null && registration.status === 'accepted'" pButton severity="secondary" label="Cancel" (click)="cancelInscription(registration)"[disabled]="isSaveInProgress" class="monospace-text"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="mt-3">
          <button pButton *ngIf="foundCompetition?.dateStart===null" [disabled]="isSaveInProgress" label="Start Competition" icon="pi pi-play" (click)="startCompetition()"
            class="p-button-success monospace-text">
          </button>
          <button pButton *ngIf="foundCompetition?.dateStart!==null && foundCompetition?.dateEnd===null" [disabled]="isSaveInProgress" label="Finish Competition" icon="pi pi-stop" (click)="finishCompetition()"
            class="p-button-danger monospace-text">
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
