<head>
  <meta charset="utf-8" />
  <meta name="author" />
  <title>Mi página de prueba</title>
  <link rel="stylesheet" href="start.component.css">
</head>

<body>
<div class="grid grid-nogutter text-800 main_box">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-1 monospace-text">LoyalGaming</span>
      <div class="text-6xl text-primary font-bold mb-3 monospace-text">Play without worries</div>
      <p class="mt-0 mb-4 text-700 line-height-3 monospace-text"> Create your team and jump into the most loyal competitions</p>

      <button pButton pRipple label="Find your team now" (click)="team()" class="mr-3 p-button-raised monospace-text">  </button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="images/logo.jpeg" alt="Image" class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>

<div class="w-full border-3 surface-border border-round mt-4 mb-4">
  <p-carousel [value]="gameList" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
      <!-- Header del carrusel -->
      <ng-template pTemplate="header">
        <h2 class="block text-4xl font-bold mb- ml-5 monospace-text">Available Games</h2>
      </ng-template>

      <!-- Item del carrusel: Aquí defines cómo se ve cada juego -->
      <ng-template let-game pTemplate="item">
        <div class="border-1 border-primary border-round m-2 p-3">
          <div class="mb-1">
            <div class="relative mx-auto">
              <img src={{game.imageUrl}} alt={{game.name}} class="w-full border-round"/>
            </div>
          </div>
          <div class="text-3xl mb-3 font-bold monospace-text">{{game.name}}</div>
          <div class="monospace-text">{{game.description}}</div>
        </div>
      </ng-template>
  </p-carousel>
</div>
</body>