<body class="min-h-screen">
  <div class="flex flex-column">
    <button pButton label="Create a new team" class="font-bold monospace-text" [routerLink]="['/team-form', 'new']"></button>
    <div class="flex gap-4 flex-wrap mt-2">
      <p-table [value]="myTeams" [tableStyle]="{'min-width': '117rem'}" styleClass="monospace-text">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            My teams
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Members</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-team>
          <tr>
            <td> <a [routerLink]="['/team-details', team.id]" class="monospace-text m-1" > {{ team.name }} </a> </td>
            <td>{{ team.players ? team.players.length :0}}</td>
            <td><button *ngIf="!isMember(team.id) && team.players.length < 5" pButton (click)="joinTeam(team.id)" label="Join team" severity="success" class="monospace-text m-1"></button></td>
            <td><button *ngIf="isMember(team.id)" pButton (click)="leaveTeam(team.id)" label="Leave team" severity="secondary" class="monospace-text m-1"></button></td>
            <td><button pButton [routerLink]="['/team-form', team.id]" label="Edit team" severity="primary" class="monospace-text m-1"></button></td>
            <td><button pButton (click)="deleteTeam(team.id)" label="Delete team" severity="danger" class="monospace-text m-1"></button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-table [value]="teamList" [tableStyle]="{'min-width': '117rem'}" styleClass="monospace-text">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Other teams
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Members</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-team>
          <tr>
            <td> <a [routerLink]="['/team-details', team.id]" class="monospace-text m-1"> {{ team.name }} </a> </td>
            <td>{{ team.players ? team.players.length :0}}</td>
            <td><button *ngIf="!isMember(team.id) && team.players.length < 5" pButton (click)="joinTeam(team.id)" label="Join team" severity="success"
                class="monospace-text m-1"></button></td>
            <td><button *ngIf="isMember(team.id)" pButton (click)="leaveTeam(team.id)" label="Leave team" severity="secondary"
                class="monospace-text m-1"></button></td>
            <td><button *ngIf="isAdmin()" pButton [routerLink]="['/team-form', team.id]" label="Edit team" severity="primary"
                class="monospace-text m-1"></button></td>
            <td><button *ngIf="isAdmin()" pButton (click)="deleteTeam(team.id)" label="Delete team" severity="danger"
                class="monospace-text m-1"></button></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</body>
<router-outlet></router-outlet>