<body class="min-h-screen">
    <div class="flex flex-column gap-2">
        <button pButton label="Create a new region" class="font-bold monospace-text" [routerLink]="['/region-form', 'new']">
        </button>
        <div class="flex gap-4 flex-wrap">
            @for (region of regionList; track region.id) {
            <p-card header="{{ region.name }}" [style]="{ width: '360px'}">
                <ng-template pTemplate="header">
                    <img alt="Card" [src]="region?.imageUrl ? region.imageUrl : 'images/no-image.jpg'" class="w-full h-12rem border-round-top">
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-2 mt-1">
                        <button pButton (click)="deleteRegion(region.id)" label="Delete" icon="pi pi-trash" class="monospace-text w-auto" severity="danger" ></button>
                        <button pButton label="Edit" icon="pi pi-pencil" [routerLink]="['/region-form', region.id]" class="monospace-text w-auto" severity="secondary"></button>
                    </div>
                </ng-template>
            </p-card>
            }@empty {
            <p>There are no regions available</p>
            }
        </div>
    </div>
</body>
<router-outlet></router-outlet>