<div class="flex justify-content-center align-items-center w-ful">
  <p-card header="Formulario Tipo de Juego" class="w-10">
    <form
      [formGroup]="formGameType"
      (ngSubmit)="edit ? updateGameType() : createGameType()"
      class="flex flex-column gap-2"
    >
      <div class="field flex flex-column gap-1">
        <label for="name">Nombre</label>
        <input type="text" pInputText formControlName="name" />
      </div>
      <div class="field flex flex-column gap-1">
        <label for="description">Descripcion</label>
        <input type="text" pInputText formControlName="description" />
      </div>
      <div class="flex gap-2">
        <p-button label="Guardar" [loading]="isSaveInProgress" type="submit" />
      </div>
    </form>
  </p-card>
</div>
