<body class="h-screen flex align-items-center justify-content-center">
  <div class="w-8 surface-50 p-3 border-round border-2 border-primary">
    <header>
      <div class="flex justify-content-left align-items-center ">
        <button pButton class="mb-4" [routerLink]="'/competition'">
          <i class="pi pi-arrow-left"></i>
        </button>
      </div>
      <div class="flex justify-content-center align-items-center monospace-text mb-4 font-bold text-primary text-3xl">
        Please complete all required fields.
      </div>
    </header>
    <form 
      [formGroup]="formInscription" 
      (ngSubmit)="submitInscription()" 
      class="flex flex-column gap-2"
    >
      <div class="field flex flex-column monospace-text text-2xl text-primary">
        <label for="team">Select a team</label>
        <p-dropdown
          formControlName="team"
          [options]="userteams"
          optionLabel="name" 
          optionValue="id"
          placeholder="Seleccione a team"
        ></p-dropdown>
        <small>The team must have at least 5 players.</small>
      </div>
      <div class="flex gap-2">
        <p-button styleClass="monospace-text" label="Join" type="submit"></p-button>
      </div>
    </form>
  </div>
</body>