<p-toast />
<div class="navigator">
  <nav class="navigator">
    <a routerLink="start" class="logo"> <img src="https://imgtr.ee/images/2024/09/02/626b60ae425a1590ef9dcb9e0966253a.png"> </a>
    <button routerLink="gameTypes" routerLinkActive="activebutton" class="button">GameTypes</button>
    <p class="separador">|</p>
    <button routerLink="game" routerLinkActive="activebutton" class="button">Games</button>
    <p class="separador">|</p>
    <button routerLink="region" routerLinkActive="activebutton" class="button">Regions</button>
    <p class="separador">|</p>
    <button routerLink="news" routerLinkActive="activebutton" class="button">News</button>
    <p class="separador">|</p>
    <button routerLink="competition"  routerLinkActive="activebutton" class="button">Competitions</button>
    <p class="separador">|</p>
    <button (click)="logOut()" routerLinkActive="activebutton" class="button">LogOut</button> <!-- mejorar este boton-->
  </nav>
</div>

<router-outlet />
