<p-toast />
<header class="header">
  <a routerLink="start" class="logo"> <img src="https://imgtr.ee/images/2024/09/02/626b60ae425a1590ef9dcb9e0966253a.png"> </a>
</header>
<div class="navigator">
  <nav>
    <button routerLink="gameTypes" routerLinkActive="activebutton" class="button">GameTypes</button>
    |
    <button routerLink="game" routerLinkActive="activebutton" class="button">Games</button>
    |
    <button 
      routerLink="region" 
      routerLinkActive="activebutton" 
      class="button">
      Regions
    </button>
    |
    <button routerLink="news" routerLinkActive="activebutton" class="button">
      News
    </button>
    |
    <button (click)="logOut()" routerLinkActive="activebutton" class="button">LogOut</button> <!-- mejorar este boton-->
  </nav>
</div>

<router-outlet />
