<div class="flex flex-column gap-2">
    <button [routerLink]="['/competition-form', 'new']" class="button">
      Crear nueva competicion
    </button>
    <div class="flex gap-4 flex-wrap">
      @for (competition of competitionList; track competition.id) {
      <p-card header="{{ competition.name }}" [style]="{ width: '360px'}">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </ng-template>
        <p>
          <strong>Tipo: </strong>{{ competition.type }}
        </p>
        <p>
          <strong>Juego: </strong>{{ competition.game.name }}
        </p>
        <p>
          <strong>Region: </strong>{{ competition.region.name }}
        </p>
        <p>
          <strong>Fecha Desde: </strong>{{ competition.dateStart | date: 'dd/MM/yyyy HH:mm'}}hs
        </p>
        <p>
          <strong>Fecha Hasta: </strong>{{ competition.dateEnding | date: 'dd/MM/yyyy HH:mm'}}hs
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-2 mt-1">
            <p-button
              (onClick)="deleteCompetition(competition.id)"
              label="Borrar"
              severity="secondary"
            />
            <button [routerLink]="['/competition-form', competition.id]" class="button">
              Editar
            </button>
            <p-button [routerLink]="['/inscription-form', competition.id]">
              Inscribirse
            </p-button>            
          </div>
        </ng-template>
      </p-card>
      }@empty {
      <p>No existen competiciones</p>
      }
    </div>
  </div>
  
  <router-outlet></router-outlet>
