<body>

  <div class="field border-round border-radius surface-overlay p-2 w-3 border-primary border-2">
  <h2 class="monospace-text font-bold text-2xl ml-1 text-primary">Restablecer Contraseña</h2>
  <form (ngSubmit)="resetPassword()">
    <input pInputText type="password" class="monospace-text w-full mb-2" [(ngModel)]="newPassword" name="newPassword" placeholder="Nueva contraseña" required>
    <input pInputText type="password" class="monospace-text w-full mb-2" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmar nueva contraseña" required>
    <button pButton type="submit" class="monospace-text m-1 mb-3">Restablecer Contraseña</button>
  </form>
</div>

</body>>