<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="sign-up.component.css">
</head>

<body>

    <div class="login-container">
        <h1>Sign Up</h1>
        <form action="/login" method="post">
            <input type="text" [(ngModel)]="name" name="name" placeholder="Name">
            <input type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last Name">
            <input type="text" [(ngModel)]="userName" name="username" placeholder="Username">
            <input type="email" [(ngModel)]="email" name="email" placeholder="Email">
            <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
            <input type="password" [(ngModel)]="confirmPassword" name="password" placeholder="Repeat password">
            <button type="submit" (click)="addUser()" >Sign up</button>
        </form>
        <div class="links">
            <a [routerLink]="'/login'">Volver</a>
        </div>
    </div>

</body>

</html>