<body class="min-h-screen">
  <div class="surface-50 border-round p-5 flex justify-content-center h-full">
    <div class="w-29rem">
      <img [src]="user?.iconUrl ? 'http://localhost:3000' + user?.iconUrl : 'images/user.png'"  class="border-circle border-2 border-primary w-25rem h-25rem m-5">
      <div class="monospace-text text-xl">
        <p> {{user?.name}} {{user?.lastName}}</p>
        <p-divider></p-divider>
        <p class="text-color-secondary">{{user?.userName}} </p>
        <p-divider></p-divider>
        <p class="text-color-secondary">{{user?.email}} </p>
        <button pButton [routerLink]="['/user-form', user?.id]" class="monospace-text" label="Edit profile" severity="primary"></button>
      </div>
    </div>
    <div class="w-29rem monospace-text ml-5">
      <p class="text-5xl text-primary">Teams</p>
      <p-table [value]="user?.teams" [tableStyle]="{ 'min-width': '29rem' }">
        <ng-template pTemplate="body" let-team>
          <tr>
            <td class="monospace-text">{{ team.name }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="w-29rem monospace-text ml-5">
      <p class="text-5xl text-primary">Competitions created</p>
      <p-table [value]="user?.competitionsCreated" [tableStyle]="{ 'min-width': '29rem' }">
        <ng-template pTemplate="body" let-competition>
          <tr>
            <td class="monospace-text">{{ competition.name }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</body>