<body class="min-h-screen">
    <div class="flex flex-column gap-2">
        <button *ngIf="isAdmin" pButton label="Create a news" class="font-bold monospace-text" [routerLink]="['/news-form', 'new']">
        </button>
        <p-carousel [value]="newsList" [numVisible]="3" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions" [showIndicators]="true" [autoplayInterval]="5000">
            <ng-template pTemplate="item" let-news>
                <div class="news-item">
                    <div class="image-container">
                        <img [src]="news?.imageUrl ? news.imageUrl : 'images/no-image.jpg'" [alt]="news.name"/>
                        <div class="overlay">
                            <h2 class="monospace-text">{{ news.title }}</h2>
                            <h3 class="monospace-text text-color-secondary">{{ news.date | date: 'yyyy-MM-dd' }}</h3>
                            <div class="sticky bottom-0">
                                <button pButton *ngIf="isAdmin" (click)="deleteNews(news.id)" label="Delete" icon="pi pi-trash" class="monospace-text w-auto"severity="danger"></button>
                                <button pButton *ngIf="isAdmin" label="Edit" icon="pi pi-pencil" class="monospace-text w-auto" severity="secondary"[routerLink]="['/news-form', news.id]"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        @for (news of newsList; track news.id) {
        <div pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" class="grid grid-nogutter border-bottom-1 surface-border surface-section text-800 animation-duration-1000 animation-ease-in-out">
            <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                <section>
                    <span class="block text-4xl font-bold mb-1 monospace-text">{{ news.title }}</span>
                    <p class= "surface-0 w-20rem mt-3 white-space-nowrap overflow-hidden text-overflow-ellipsis monospace-text">{{ news.body }}</p>
                    <p class="monospace-text"> {{ news.date | date:'yyyy-MM-dd' }}</p>
                    <button pButton (click)="showDialog(news)" pRipple label="Show more" type="button" class="p-button-outlined"></button>
                </section>
            </div>
            <div class="col-12 md:col-6 overflow-hidden">
                <img [src]="news?.imageUrl ? 'https://backend-production-0538.up.railway.app' + news?.imageUrl : 'images/no-image.jpg'" alt="Image" class="md:ml-auto block md:h-25rem"
                    style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
            </div>
        </div>
        <p-dialog header="{{ selectedNews?.title }}" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
            <p class="mb-5 monospace-text">
                {{ selectedNews?.body }}
            </p>
        </p-dialog>

        }
        <div *ngIf="newsList.length === 0">
            <p>No existen noticias disponibles.</p>
        </div>
    </div>
</body>
<router-outlet></router-outlet>
