<body>
<div class="field border-round border-radius surface-overlay p-2 w-3 border-primary border-2">
    <h2 class="monospace-text font-bold text-2xl ml-1 text-primary">Password Recovery</h2>
    <form (ngSubmit)="sendResetLink()">
        <input pInputText type="email" class="monospace-text w-full mb-2" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
        <button pButton type="submit" class="monospace-text m-1 mb-3">Send</button>
    </form>
    <div>
        <p-button label="Volver" routerLink="/login" [link]="true"></p-button>
    </div>
</div>
</body>