<body class="min-h-screen">
  <div class="flex flex-column gap-2">
    <button [routerLink]="['/gameType-form', 'new']" class="button">
      Crear nuevo Tipo de Juego
    </button>
    <div class="flex gap-4 flex-wrap">
      @for (gameType of gameTypesList; track gameType.id) {
      <p-card
        header="{{ gameType.name }}"
        [style]="{ width: '360px'}"
        
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </ng-template>
        <p>
          {{ gameType.description }}
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-2 mt-1">
            <p-button
              (onClick)="deleteGameType(gameType.id)"
              label="Borrar"
              severity="secondary"
            />
            <button
              [routerLink]="['/gameType-form', gameType.id]"
              class="button"
            >
              Editar
            </button>
          </div>
        </ng-template>
      </p-card>
      }@empty {
      <p>No existen Tipos de Juego</p>
      }
    </div>
  </div>
</body>
<router-outlet></router-outlet>
